<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; Попередня</a>
  {% else %}
    <span class="pagination  pagination--previous">&larr; Попередня</span>
  {% endif %}

  <span class="pagination  pagination--counter">Сторінка: {{ paginator.page }} з {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">Наступна &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next">Наступна &rarr;</span>
  {% endif %}

</nav>
