{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <span class="label  label--category">
        <a href="{{ site.baseurl }}/categories/#{{ category | downcase }}">
          {% assign category_format = category %}
          {% case category_format %}
          {% when 'Lessons' %}Розробки уроків
          {% when 'Methodical-instructions' %}Методичні рекомендації
          {% endcase %} </a>
      </span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif page.category %}
  {% capture categories %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ page.category | downcase }}">{{ page.category }}</a></span>
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ page.date | date_to_xmlschema }}" class="time">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
      {% when '1' %}Січеня
      {% when '2' %}Лютого
      {% when '3' %}Березеня
      {% when '4' %}Квітня
      {% when '5' %}Травня
      {% when '6' %}Червня
      {% when '7' %}Липня
      {% when '8' %}Серпня
      {% when '9' %}Вересня
      {% when '10' %}Жовтня
      {% when '11' %}Листопада
      {% when '12' %}Грудня
      {% endcase %}
      {{ page.date | date: "%Y" }}</time>
</small>
